!!!html5
%html
  %body
    %p A fast interface to upload RDF files to the local Virtuoso server
    %p curl -X POST -F file=turtle.ttl graph=example.com/rdf1 http://localhost:4567/turtle
    %p curl -X POST -F file=rdfxml.rdf graph=example.com/rdf2 http://localhost:4567/rdfxml
    %p Copyright: (c) MISHIMA, Hiroyuki
    %p License: the MIT license
